@tailwind base;
@tailwind components;
@tailwind utilities;

.default-option:: {
  color: #e32;
  content: '*';
  display: inline;
}

.payment-radio-btn::after {
  width: 24px;
  height: 24px;
  left: -10px;
  border-radius: 50%;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  position: relative;
  cursor: pointer;
}

.payment-radio-btn:checked::after {
  background-color: #fcfcfd;
  border: 8px solid #1c2024;
}
