@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-text {
    @apply text-xl lg:text-2xl font-semibold text-greyPrimary;
  }
  .sub-heading-text {
    @apply text-sm lg:text-base font-normal text-greySecondary;
  }
}

.payment-radio-btn::after {
  width: 20px;
  height: 20px;
  left: -8px;
  border-radius: 50%;
  background-color: #e4e4e9;
  border: 1px solid #d3d4db;
  content: '';
  display: inline-block;
  visibility: visible;
  position: relative;
}

.payment-radio-btn:checked::after {
  background-color: #fcfcfd;
  border: 7px solid #1c2024;
}

@media screen and (min-width: 1024px) {
  .payment-radio-btn::after {
    width: 24px;
    height: 24px;
    left: -10px;
  }
  .payment-radio-btn:checked::after {
    border: 8px solid #1c2024;
  }
}

.box-shadow-image {
  box-shadow: 0 2px 60px 15px #d3d4db;
}

input[required]:valid + label {
  display: none;
}

.dropdown-list li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}
