@tailwind base;
@tailwind components;
@tailwind utilities;

.default-option:: {
  color: #e32;
  content: '*';
  display: inline;
}

.payment-radio-btn::after {
  width: 20px;
  height: 20px;
  left: -8px;
  border-radius: 50%;
  background-color: #e4e4e9;
  border: 1px solid #d3d4db;
  content: '';
  display: inline-block;
  visibility: visible;
  position: relative;
}

.payment-radio-btn:checked::after {
  background-color: #fcfcfd;
  border: 7px solid #1c2024;
}

@media screen and (min-width: 1024px) {
  .payment-radio-btn::after {
    width: 24px;
    height: 24px;
  }
  .payment-radio-btn:checked::after {
    border: 8px solid #1c2024;
  }
}
